.container {
  width: 40vw;
  height: 80vh;
  border: 2px solid red;
}

.container h1 {
  font-size: 20px;
  background-color: yellow;
  color: red;
}

.sticky {
  position: sticky;
  top: 0;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  bottom: 30px;
  right: 10px;
}

.fixed {
  position: fixed;
  right: 10px;
  bottom: 10px;
}
